/* 1, flex */
body {
    padding-bottom: 500px;
}

.flex {
    display: flex;
    background-color: #ddd;
    margin-bottom: 20px;
}

/* 2, flex column */
.flex-column {
    display: flex;
    flex-direction: column;
    background-color: #ccc;
}