/* 4, External */
body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

/* classe em uso */
.paragraph {
    background-color: pink;
    color: gray;
    padding: 5px;
}

/* id em uso */
#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
    font-size: 40px;
}

