/* 4, External */
body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

/* classe em uso */
.paragraph {
    background-color: pink;
    color: gray;
    padding: 5px;
}

/* id em uso */
#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
    font-size: 40px;
}

/* Ordem de Seletores */
h2 {
    border-bottom: 6px solid red;
}

.titulo {
    border-bottom: 4px solid blue;
}

#texto {
    border-bottom: 2px solid green;
}

/* Nome de Cores */
.color-name {
    color: red;
    font-size: 50px;
    background-color: grey;
}

/* HEX */
.color-hex {
    color: #55a398;
}

.color-hex2 {
    color: #fd41ed;
}

/* corta-se a repetição de caracter dos códigos, o que seria basicamente o mesmo resultado se escrito de maneira mais curta */
.simple-hex {
    color: #333;
}

.simple-hex-2 {
    color: #a5f;
}

/* RGB */
.rgb {
    color: rgb(255, 0, 0);
}

.mix-de-rgb {
    color: rgb(125, 29, 5);
}

/* RGBA */
.rgba {
    color: rgba(200, 100, 5, 1.7);
}

/* HSL */
.hsl {
    color: hsl(100, 20%, 50%)
}

.hsl-2 {
    color: hsl(255, 100%, 50%)
}

/* mundo o background-color */
.bg {
    background-color: black;
    color: gold
}

.bg-2 {
    background-color: red;
    color: white;   
}

/* opacidade no bg */
.bg-opacity {
   background-color: green;
   opacity: 0.7; 
   color: black;
}

/* RGBA com opacidade */
.rgba-opacity {
    background-color: rgba(90, 120, 20, 0.2);
    color: #000

}

/* bg com imagem */
.bg-img {
    background-image: url(../2_HTML/assets/recepçãotorcidatricolor.jpg);
    padding: 10px;
}

/* centralizar img de bg */
.not-centered-bg,
.centered-bg {
    height: 300px;
    width: 600px;
    background-image: url(../2_HTML/assets/morumbi.jpg);
}

.centered-bg {
    background-position: center;
    background-size: cover; 
}