/* 4, External */
body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

/* classe em uso */
.paragraph {
    background-color: pink;
    color: gray;
    padding: 5px;
}

/* id em uso */
#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
    font-size: 40px;
}

/* Ordem de Seletores */
h2 {
    border-bottom: 6px solid red;
}

.titulo {
    border-bottom: 4px solid blue;
}

#texto {
    border-bottom: 2px solid green;
}

/* Nome de Cores */
.color-name {
    color: red;
    font-size: 50px;
    background-color: grey;
}

/* HEX */
.color-hex {
    color: #55a398;
}

.color-hex2 {
    color: #fd41ed;
}